# Created by venv; see https://docs.python.org/3/library/venv.html

_pycache_
.DS_Store 
__pycache__/

.Python
blog/blog.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
# Virtual environment
blog-env/
Lib/ 
__pycache__/
*.pyc
*.pyo
*.pydgit  

